<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Bliss Bound - Profile </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}"></link>
  <link rel="icon" href="/static/img/logo.jpg" type="image/x-icon">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="titlebar">
    <img src="/static/img/logo.jpg" class="logo">
    <ul>
     <li><a href="{% url 'login' %}">LOGIN</a></li>
     <li><a href="{% url 'profile' %}">PROFILE</a></li>
     <li><a href="{% url 'activity' %}">ACTIVITY</a></li>
     <li><a href="{% url 'tasks' %}">TASKS</a></li>
     <li><a href="{% url 'view history' %}">VIEW HISTORY</a></li>
     <li><a href="#">CHAT WITH BOT</a></li>
     <li><a href="{% url 'logout' %}">LOGOUT</a></li>
    </ul>
  </div>
  <div class="background">
    <div class="register-form">
        <div class="form-box">
          <h1>Profile</h1>
          <form method="POST" action="{% url 'fill_profile' %}">
            {% csrf_token %}
          <div class="input-box">
            <input type="text" id="name" name="name" class="input-field" required>
            <label for="Name" class="label">Name</label>
            <i class='bx bxs-user icon'></i>
          </div>
          <div class="input-box">
            <input type="date" id="dob" name="dob" class="input-field" required>
            <label for="DOB" class="label"></label>
            <i class='bx bxs-calendar icon' ></i>
          </div>
          <div class="input-box">
            <input type="text" id="phone" name="phone" class="input-field" required>
            <label for="Phone" class="label">Phone</label>
            <i class='bx bxs-phone icon'></i>
          </div>
        </div>
        <div class="form-box1"><br><br><br><br>
          <div class="input-box">
            <label for="nationality" class="form-label">Nationality</label>
            <select id="nationality" name="nationality" class="input-field-select">
            <option selected>-- select --</option>
            <option value="India">India</option>
            <option value="Japan">Japan</option>
            <option value="USA">USA</option>
            <option value="Russia">Russia</option>
            <option value="France">France</option>
            <option value="China">China</option>
            </select>
          </div>
          <div class="input-box">
            <input type="text" id="occu" name="occu" class="input-field" required>
            <label for="Occupation" class="label">Occupation or Student</label>
            <i class='bx bxs-graduation icon' ></i>
          </div>
          <div class="input-box">
            <input type="text" id="hobbies" name="hobbies" class="input-field" required>
            <label for="Hobbies" class="label">Hobbies</label>
            <i class='bx bx-happy-alt icon'></i>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
            <label class="form-check-label" for="flexCheckDefault">
             I verify that the above details are correct to my knowledge
            </label>
          </div>
          <div class="input-box">
            <input type="submit" class="input-submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
